#title {
    color:chocolate;
    text-align:center;
}

.forms {
    text-align: center;
}

.button {
    text-align: right;
}

.creditos{
    text-align: center;
}

.imagens {
    text-align: center;
}